/* Brayden Coombs 8922782 */

input[type="radio"],
input[type="checkbox"] {
    height: 2em;
    width: 2em;
}

select,
option,
label,
legend,
input[type="submit"] {
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
}

textarea {
    width: 50%;
    display: block;
}

fieldset {
    border: none;
}

h1 {
    font-weight: bold;
    color: blueviolet;
    font-size: 50px;
}

body {
    color: blueviolet;
    font: bolder; 
    font-size: 7vh;
    font-size: 2vw;
    background-color:hsla(120, 30%, 70%, 0.3);
    max-width: 900px;
    margin: auto;
    padding: 10px;
}

h2 {
    color: #fc0;
    font-size: 5vh;
}

header {
    background-color: hsl(208, 100%, 70%)
}

main {
    float: left;
    width: 56.66%;
    padding: 10px;
    margin: auto;
    background-color: hsl(120, 60%, 20%)
}

aside {
    float: right;
    width: 23.33%;
    padding: 10px;
    margin: auto;
    background-color: hsl(35, 100%, 80%);
}

footer {
    clear: both;
    background-color: hsl(30, 45%, 70%);
}

.structural {
    padding: 5px;
    margin: auto;
    border: 5px hidden;
}

#Info {
    color: rgb(200, 0, 250);
}

#FF {
    color: rgb(200, 0, 250);
}

#copy {
    color: rgb(255, 70, 0);
}

aside a:hover {
    color: #999;
}

footer p {
    font-size: small;
}

aside ul {
    list-style-type: square;
    line-height: 2em;
    color: rgba(0,0,230,0.3);
}

li {
    display: inline;
}

nav li a {
    display: inline-block;
    border: 2px solid indigo;
    color: indigo;
    text-decoration: none;
    padding: 5px 10px;
    background-color: cornsilk;
}

nav li a:hover {
    color: cornsilk;
    background-color: indigo;
    border-color: cornsilk;
}

form {
    border: 5px dashed blueviolet;
}